.title {
    border: 1px solid orange;
    display: inline-block;
    width: 100px;
    min-height: 15px;
    text-align: center;
    padding: 5px;
}
.list {
    border: 1px solid orange;
    display: block;
    width: 100px;
    text-align: center;
    padding: 5px;
}
.item {
    margin-top: 5px;
}
.item:hover {
    background-color: skyblue;
    color: white;
}
.selectedItem {
    background-color: skyblue;
    color: white;
}